.active{
    border: solid 3px black;
}

#content{
    padding: 10px;
    border: solid 3px red;
}

span{
    padding: 10px 20px;
    margin: 10px;
}

.mt-50{
    margin-top: 50px;
}

.App-intro{
    font-size: large;
}